body,html,#app,#root{
  height:100%;
  .admin-wrap{
    height:100%;
  }
}
.antd-panel{
  background: #ffffff;
  padding: 24px;
  margin-bottom: 12px;
}

.page-search-wrap{
  .ant-form-inline{
      .ant-form-item{
          display: flex;
          margin-bottom: 24px;
          margin-right: 0;

          .ant-form-item-label{
              margin-right: 8px;
              line-height:32px;
          }
          .ant-form-item-control-wrapper{
              flex: 1;
              vertical-align: middle;
              display: inline-block;
              .ant-form-item-control{
                  line-height: 32px;
                  height:32px;
              }
          }
      }
  }
}
.tool-tip{
  margin-bottom: 24px;
}
.table-operation-action{
  padding: 0 6px;
}
.ant-layout-sider{
  overflow-x: hidden;
  .ant-layout-sider-children{
    width: 232px;
    overflow-y: auto;
    .ant-menu{
      width: 200px;
    }
  }
}
.ant-layout-sider.ant-layout-sider-collapsed{
  .ant-layout-sider-children{
    .ant-menu{
      width:80px;
    }
  }
}