.admin-wrap{
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .ant-layout-header{
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    -moz-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    z-index:9;
    .antd-header-right{
      float: right;
      margin-right: 8px;
      .antd-notification-header{
        display: inline-block;
        height:100%;
        line-height: 64px;
        padding: 0 8px;
        .anticon{
          font-size: 18px;
        }
      }
      .ant-dropdown-trigger{
        display: inline-block;
        padding: 0 12px;
        font-size: 13px;
      }
    }
  }
  .breadcrumb-header{
    background: #fff;
    padding: 12px;
  }
  .ant-layout-content{
    margin: 12px;
    .antd-admin-page{
      height: 100%;
      overflow: auto;
    }
  }
}